rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Reglas para las imágenes de perfil
    match /profile-images/{userId}/{fileName} {
      // Cualquier usuario autenticado puede leer las imágenes de perfil
      allow read: if request.auth != null;
      
      // Solo el propietario de la cuenta puede subir una imagen de perfil
      // La imagen debe empezar con el UID del usuario.
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
