.gradle
build
captures
assetPack
*.iml
.idea
*.apk
*.aab
local.properties
/app/build/
/app/release/
/app/debug/
*.jks
*.keystore
!android.keystore
!twa-manifest.json
gradle_error.log
gradle_error_final.log
err.log
patea-dev-aligned.apk
patea-dev-release-signed.apk
app-release-signed.apk
app-release-aligned.apk
patea-dev-aligned.apk
patea-dev-release-signed.apk
